<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageCode</key>
	<string>Swft</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Swift</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array><!-- keywords -->
		<!-- declarations -->
		<string>class</string>
		<string>deinit</string>
		<string>enum</string>
		<string>extension</string>
		<string>func</string>
		<string>import</string>
		<string>init</string>
		<string>let</string>
		<string>protocol</string>
		<string>static</string>
		<string>struct</string>
		<string>subscript</string>
		<string>typealias</string>
		<string>var</string>
		<string>private</string>
		<string>internal</string>
		<string>public</string>
		<!-- statements -->
		<string>break</string>
		<string>case</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>fallthrough</string>
		<string>if</string>
		<string>in</string>
		<string>for</string>
		<string>return</string>
		<string>switch</string>
		<string>where</string>
		<string>while</string>
		<!-- expressions and types -->
		<string>as</string>
		<string>dynamicType</string>
		<string>is</string>
		<string>new</string>
		<string>super</string>
		<string>self</string>
		<string>Self</string>
		<string>Type</string>
		<string>__COLUMN__</string>
		<string>__FILE__</string>
		<string>__FUNCTION__</string>
		<string>__LINE__</string>
		<!-- context sensitive "keywords" -->
		<string>associativity</string>
		<string>didSet</string>
		<string>get</string>
		<string>infix</string>
		<string>inout</string>
		<string>left</string>
		<string>mutating</string>
		<string>none</string>
		<string>nonmutating</string>
		<string>operator</string>
		<string>override</string>
		<string>postfix</string>
		<string>precedence</string>
		<string>prefix</string>
		<string>right</string>
		<string>set</string>
		<string>unowned</string>
		<string>unowned(safe)</string>
		<string>unowned(unsafe)</string>
		<string>weak</string>
		<string>willSet</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<!-- standard library -->
		<string>AbsoluteValuable</string>
		<string>Any</string>
		<string>AnyClass</string>
		<string>AnyObject</string>
		<string>Array</string>
		<string>ArrayBound</string>
		<string>ArrayBuffer</string>
		<string>ArrayBufferType</string>
		<string>ArrayLiteralConvertible</string>
		<string>ArrayType</string>
		<string>AutoreleasingUnsafePointer</string>
		<string>BidirectionalIndex</string>
		<string>Bit</string>
		<string>BitwiseOperations</string>
		<string>Bool</string>
		<string>CBool</string>
		<string>CChar</string>
		<string>CChar16</string>
		<string>CChar32</string>
		<string>CConstPointer</string>
		<string>CConstVoidPointer</string>
		<string>CDouble</string>
		<string>CFloat</string>
		<string>CInt</string>
		<string>CLong</string>
		<string>CLongLong</string>
		<string>CMutablePointer</string>
		<string>CMutableVoidPointer</string>
		<string>COpaquePointer</string>
		<string>CShort</string>
		<string>CSignedChar</string>
		<string>CString</string>
		<string>CUnsignedChar</string>
		<string>CUnsignedInt</string>
		<string>CUnsignedLong</string>
		<string>CUnsignedLongLong</string>
		<string>CUnsignedShort</string>
		<string>CVaListPointer</string>
		<string>CVarArg</string>
		<string>CWideChar</string>
		<string>Character</string>
		<string>CharacterLiteralConvertible</string>
		<string>Collection</string>
		<string>CollectionOfOne</string>
		<string>Comparable</string>
		<string>ContiguousArray</string>
		<string>ContiguousArrayBuffer</string>
		<string>ContiguousArrayStorage</string>
		<string>DebugPrintable</string>
		<string>Dictionary</string>
		<string>DictionaryGenerator</string>
		<string>DictionaryIndex</string>
		<string>DictionaryLiteralConvertible</string>
		<string>Double</string>
		<string>EmptyCollection</string>
		<string>EmptyGenerator</string>
		<string>EnumerateGenerator</string>
		<string>Equatable</string>
		<string>ExtendedGraphemeClusterLiteralConvertible</string>
		<string>ExtendedGraphemeClusterType</string>
		<string>ExtensibleCollection</string>
		<string>FilterCollectionView</string>
		<string>FilterCollectionViewIndex</string>
		<string>FilterGenerator</string>
		<string>FilterSequenceView</string>
		<string>Float</string>
		<string>Float32</string>
		<string>Float64</string>
		<string>Float80</string>
		<string>FloatLiteralConvertible</string>
		<string>FloatLiteralType</string>
		<string>FloatingPointClassification</string>
		<string>FloatingPointNumber</string>
		<string>ForwardIndex</string>
		<string>Generator</string>
		<string>GeneratorOf</string>
		<string>GeneratorOfOne</string>
		<string>GeneratorSequence</string>
		<string>Hashable</string>
		<string>HeapBuffer</string>
		<string>HeapBufferStorage</string>
		<string>HeapBufferStorageBase</string>
		<string>ImplicitlyUnwrappedOptional</string>
		<string>IndexingGenerator</string>
		<string>IndirectArrayBuffer</string>
		<string>Int</string>
		<string>Int16</string>
		<string>Int32</string>
		<string>Int64</string>
		<string>Int8</string>
		<string>IntEncoder</string>
		<string>IntMax</string>
		<string>Integer</string>
		<string>IntegerArithmetic</string>
		<string>IntegerLiteralConvertible</string>
		<string>IntegerLiteralType</string>
		<string>Less</string>
		<string>LifetimeManager</string>
		<string>LogicValue</string>
		<string>MapCollectionView</string>
		<string>MapSequenceGenerator</string>
		<string>MapSequenceView</string>
		<string>MaxBuiltinFloatType</string>
		<string>MaxBuiltinIntegerType</string>
		<string>Mirror</string>
		<string>MirrorDisposition</string>
		<string>MutableCollection</string>
		<string>MutableSliceable</string>
		<string>ObjectIdentifier</string>
		<string>OnHeap</string>
		<string>Optional</string>
		<string>OutputStream</string>
		<string>PermutationGenerator</string>
		<string>Printable</string>
		<string>QuickLookObject</string>
		<string>RandomAccessIndex</string>
		<string>Range</string>
		<string>RangeGenerator</string>
		<string>RawByte</string>
		<string>RawOptionSet</string>
		<string>RawRepresentable</string>
		<string>Reflectable</string>
		<string>Repeat</string>
		<string>ReverseIndex</string>
		<string>ReverseRange</string>
		<string>ReverseRangeGenerator</string>
		<string>ReverseView</string>
		<string>Sequence</string>
		<string>SequenceOf</string>
		<string>SignedInteger</string>
		<string>SignedNumber</string>
		<string>Sink</string>
		<string>SinkOf</string>
		<string>Slice</string>
		<string>SliceBuffer</string>
		<string>Sliceable</string>
		<string>StaticString</string>
		<string>Streamable</string>
		<string>StridedRangeGenerator</string>
		<string>String</string>
		<string>StringElement</string>
		<string>StringInterpolationConvertible</string>
		<string>StringLiteralConvertible</string>
		<string>StringLiteralType</string>
		<string>UInt</string>
		<string>UInt16</string>
		<string>UInt32</string>
		<string>UInt64</string>
		<string>UInt8</string>
		<string>UIntMax</string>
		<string>UTF16</string>
		<string>UTF32</string>
		<string>UTF8</string>
		<string>UWord</string>
		<string>UnicodeCodec</string>
		<string>UnicodeScalar</string>
		<string>Unmanaged</string>
		<string>UnsafeArray</string>
		<string>UnsafePointer</string>
		<string>UnsignedInteger</string>
		<string>VaListBuilder</string>
		<string>Void</string>
		<string>Word</string>
		<string>Zip2</string>
		<string>ZipGenerator2</string>
		<string>abs</string>
		<string>advance</string>
		<string>alignof</string>
		<string>alignofValue</string>
		<string>assert</string>
		<string>bridgeFromObjectiveC</string>
		<string>bridgeFromObjectiveCUnconditional</string>
		<string>bridgeToObjectiveC</string>
		<string>bridgeToObjectiveCUnconditional</string>
		<string>c</string>
		<string>contains</string>
		<string>count</string>
		<string>countElements</string>
		<string>countLeadingZeros</string>
		<string>debugPrint</string>
		<string>debugPrintln</string>
		<string>distance</string>
		<string>dropFirst</string>
		<string>dropLast</string>
		<string>dump</string>
		<string>encodeBitsAsWords</string>
		<string>enumerate</string>
		<string>equal</string>
		<string>fatalError</string>
		<string>filter</string>
		<string>find</string>
		<string>getBridgedObjectiveCType</string>
		<string>getVaList</string>
		<string>indices</string>
		<string>insertionSort</string>
		<string>isBridgedToObjectiveC</string>
		<string>isBridgedVerbatimToObjectiveC</string>
		<string>isUniquelyReferenced</string>
		<string>join</string>
		<string>lexicographicalCompare</string>
		<string>map</string>
		<string>max</string>
		<string>maxElement</string>
		<string>min</string>
		<string>minElement</string>
		<string>numericCast</string>
		<string>partition</string>
		<string>posix</string>
		<string>print</string>
		<string>println</string>
		<string>quickSort</string>
		<string>reduce</string>
		<string>reflect</string>
		<string>reinterpretCast</string>
		<string>reverse</string>
		<string>roundUpToAlignment</string>
		<string>sizeof</string>
		<string>sizeofValue</string>
		<string>sort</string>
		<string>split</string>
		<string>startsWith</string>
		<string>strideof</string>
		<string>strideofValue</string>
		<string>swap</string>
		<string>swift</string>
		<string>toString</string>
		<string>transcode</string>
		<string>underestimateCount</string>
		<string>unsafeReflect</string>
		<string>withExtendedLifetime</string>
		<string>withObjectAtPlusZero</string>
		<string>withUnsafePointer</string>
		<string>withUnsafePointerToObject</string>
		<string>withUnsafePointers</string>
		<string>withVaList</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.swift</string>
		</dict>
	</array>
	<key>BBLMPreferredFilenameExtension</key>
	<string>swift</string>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>BBLMCommentPrefixDefault</key>
	<string>/*</string>
	<key>BBLMCommentSuffixDefault</key>
	<string>*/</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z_0-9</string>
		<key>Comment Pattern</key>
		<string><![CDATA[(?x:
			(?>  //  [^\r]*              \r)    (?# single line comment)
		  | (?>  /\* (                          (?# multiline comment)
		  					[^/*] 
		  			  	|	/(?=[^*])	(?# a "/" not followed by "*")
		  			  	|	\*(?=[^/])	(?# a "*" not followed by "/")
		  				|	\r
		  				|	(?R)		(?# recursive match to handle nested comments)
		  			 )*? 
		  		 \*/)
		)]]></string>
		<key>String Pattern</key>
		<string><![CDATA[(?x:
			(?>	"	(
						[^"\r\\]	(?# match anything potential ending quote, new line, or start of escape sequence)
					|	\\.			(?# match any escape sequence pair)
					)*?
				"
			)
		)]]></string>
		<key>Function Pattern</key>
		<string><![CDATA[(?x:
			(?>
				(?P<function>
					(^|\s)
					(func|class|enum|struct|protocol|extension|typealias) (?# we have to match all the names in one go to bind function_name, so we have to match the name and then all possible following stuff separately)
					\s+
					(?P<function_name>
						[A-Za-z_][A-Za-z_0-9]*
					)
					(
						\s* = \s* .*	(?# typealias existing type)
					|
						[^{]*
						(?P<block>							(?# body)
							{									(?# literal lbrace)
								(?>
									(?> [^{}]+ )
								  | (?P>block)					(?# recursion!)
								)*
							}									(?# literal rbrace)
						)
					)
				)
			)
		)]]></string>
		<key>Skip Pattern</key>
		<string><![CDATA[(?x:
			(?P>string) |
			(?P>comment)
		)]]></string>
	</dict>
</dict>
</plist>
